
spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
  data:
    mongodb:
      uri: ${MONGO_URI}
      database: journaldb
      auto-index-creation: true
  redis:
    host: localhost
    port: 6379
  main:
    allow-circular-references: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${gmailUsername}
    password: ${gmailPassword}
    properties:
        mail:
          smtp:
            auth: true
            starttls:
              enable: true

weather:
  api:
  key: ${WEATHER_API_KEY}

server:
  port: 8080
  servlet:
    context-path: /journal-app